$primary: #04E762;
$primary-lightened: lighten($primary, 20%);
$primary-darkened: #03c152;

$secondary: #89023E;
$secondary-lightened: lighten($secondary, 10%);
$secondary-darkened: #63012d;

$info: #5FA5D3;
$info-darkened: #4194cb;

$warning: #F5B700;
$warning-darkened: darken($warning, 10%); 

$tertiary: #F7EBE8;

$dark: rgba(0, 0, 0, 0.9);