$primary: #04E762;
$primary-lightened: lighten($primary, 20%);
$primary-darkened: #03c152;

$secondary: #89023E;
$secondary-lightened: lighten($secondary, 10%);
$secondary-darkened: #63012d;

$info: #5FA5D3;
$info-darkened: #4194cb;

$warning: #FF9F1C;
$warning-darkened: #f58d00;

$alternate: #4C2E05;

$tertiary: #0F956A;

.bg-tertiary {
  background-color: $tertiary !important;
}

.text-tertiary {
  color: $tertiary !important;
}

.btn-tertiary {
  background-color: $tertiary !important;
  border-color: $tertiary !important;
  color: white !important;
}

$quaternary: #E88873;
$quaternary-darkened: #e36c52;

.bg-quaternary {
  background-color: $quaternary !important;
}

.text-quaternary {
  color: $quaternary !important;
}

.btn-quaternary {
  background-color: $quaternary !important;
  border-color: $quaternary !important;
}

.btn-quaternary:hover {
  background-color: $quaternary-darkened !important;
  border-color: $quaternary-darkened !important;
}

$dark: rgba(0, 0, 0, 0.9);