$primary: #04E762;
$primary-lightened: lighten($primary, 20%);
$primary-darkened: darken($primary, 10%);

$secondary: #89023E;
$secondary-lightened: lighten($secondary, 10%);
$secondary-darkened: darken($secondary, 10%);

$info: #FFA987;

$tertiary: #6D72C3;
$tertiary-darkened: darken($tertiary, 20%); 

$quaternary: #F7EBE8;

$dark: rgba(0, 0, 0, 0.9);